#PIPBOX{
top:2px;
right:2px;
z-index:9999;
border:1px solid LightGray;
width:30%;
height:auto;
border-radius:5px;
overflow:auto;
resize:both;
position:fixed;
}

#PIPBOX_Header{
background-color: LightGray;
border-bottom: 1px solid white;
text-align: center;
cursor: move;
line-height:3;
}

#PIPBOX_Content{
background-color: LightGray;
text-indent: 10px;
padding:5px;
}

#close{
top:0px;
text-align: right;
right:25px;
position:relative;
cursor:pointer;
}
